<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # If the requested file/folder exists, serve it directly
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Redirect everything else to index.php
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>